*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  overflow-x: hidden;
}



/*Menu Dropdown*/

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

#open-menu{
  background-color: transparent;
  border: none;
}

#overlay {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.644);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px;
}

.Ccontent {
  background-color: rgba(255, 255, 255, 0.644);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #000000;
}

.C-Titulo, .menu a{
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  width: 100%;
  padding: 10px;
}

.overlay-content a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.overlay-content li{
  padding: 5px;
  list-style: none;
}

  /*titulo*/

  .titulo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
  }

  .titulo a{
    color: black;
    text-decoration: none;
  }

  .titulo .mathema{
    margin-left: 100px;
  }

  /*tela de carregamento*/

  #tela-carregamento {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  #tela-carregamento h1 {
    font-size: 50px;
    font-weight: bold;
  }
  
  #tela-carregamento p {
    font-size: 30px;
    margin-top: 10px;
  }
  #tela-carregamento p .span1{
    transition-delay: 250ms;
    transition-property: scale 10px;
  }

  .EscalaBola {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EscalaBola .Bola {
    width: 7.5px;
    height: 7.5px;
    border-radius: 100%;
    background-color: #000;
    margin: 5px;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}

.EscalaBola .Bola:nth-child(1) {
    animation: scaleAnimation 2s 0s infinite;
}

.EscalaBola .Bola:nth-child(2) {
    animation: scaleAnimation 2s 0.5s infinite;
}

.EscalaBola .Bola:nth-child(3) {
    animation: scaleAnimation 2s 1s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
  
  .sinal {
    display: inline-block;
    font-size: 48px;
    animation: girar 2s linear infinite;
  }
  
  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  footer {
    position: relative;
    background-color: black;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100vw;
    color: #fff;
  }

  footer p{
    text-decoration: none;
  }
  .topicos{
    display: flex ;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(241, 241, 241);
    margin-top: 3px;
  }
  
  
  .box{
    margin: 50px;
    background-color: white;
    border: 1px solid black;
    padding: 3cm 2cm 2cm 3cm;
    width: 60%;
  }
  @media(max-width:1620px){
    .box{
      width: 80vw;
    }
  }
  @media(max-width:800px){
    .box{
      width: 90vw;
    }
  }
 
  .box p{
    text-indent: 2cm;
    text-align: justify;
    margin-top: 20px;
  }
  @media(max-width:650px){
    .box{
      width: 100vw;
      margin: 20px;
      padding: 2cm 1cm 1cm 2cm;
    }
    .box p{
      margin: 0;
      text-indent: 1cm;
    }
  }
  @media(max-width:500px){
    .box{
      width: 100vw;
      margin: 0;
      padding: 1cm 1cm 1cm 1cm;
      border: none;
    }
  }
  .titulosecundario{
    text-align: left;
    margin-top: 20px;
  
  }
  .box h4{
    margin-top: 20px;
  }
  
  .imagem{
    text-align: center;
  }