*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu overlay-content*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 3px rgb(0, 0, 0);
  }

  #open-menu{
    background-color: transparent;
    border: none;
  }

  #overlay {
    display: grid;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
  }
  
  .menu {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
  }
  
  .Ccontent {
    background-color: rgba(255, 255, 255, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid #000000;
  }
  
  .C-Titulo, .menu a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
  }

  .overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    width: 100%;
    padding: 10px;
  }

  .overlay-content a{
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  .overlay-content li{
    padding: 5px;
    list-style: none;
  }
  

  /*titulo*/

  .titulo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
  }

  .titulo a{
    color: black;
    text-decoration: none;
  }

  .titulo .mathema{
    margin-left: 100px;
  }

  /*tela de carregamento*/

  #tela-carregamento {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  #tela-carregamento h1 {
    font-size: 50px;
    font-weight: bold;
  }
  
  #tela-carregamento p {
    font-size: 30px;
    margin-top: 10px;
  }
  #tela-carregamento p .span1{
    transition-delay: 250ms;
    transition-property: scale 10px;
  }

  .EscalaBola {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EscalaBola .Bola {
    width: 7.5px;
    height: 7.5px;
    border-radius: 100%;
    background-color: #000;
    margin: 5px;
    transform: scale(0);
    transition: transform 2s ease-in-out;
}

.EscalaBola .Bola:nth-child(1) {
    animation: scaleAnimation 2s 0s infinite;
}

.EscalaBola .Bola:nth-child(2) {
    animation: scaleAnimation 2s 0.5s infinite;
}

.EscalaBola .Bola:nth-child(3) {
    animation: scaleAnimation 2s 1s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
  
  .sinal {
    display: inline-block;
    font-size: 48px;
    animation: girar 2s linear infinite;
  }
  
  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  /*footer*/

  footer {
    position: fixed;
    background-color: #333;
    padding: 20px;
    text-align: center;
    bottom: 0;
    height: 10vh;
    width: 100vw;
  }

  footer p{
    text-decoration: none;
    color: #fff;
  }

  /*iamgem pais matematica*/
  
  #imagensFamosos{
    margin-top: 100px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;  
    align-items: center;
    text-align: center;
  }
  
  .imagensF img{
    height: 300px;
    width: 300px;
    border-radius: 500px;
    border: 2px solid rgba(0, 0, 0, 0.199);
  }

  @media (max-width: 1200px){
    #imagensFamosos .imagensF {
      margin-bottom: 200px;
    }
  }

  @media(max-width:920px) {

    .bunner{
      margin-top: 100px;
    }

  }

  /* resposive */

